body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  height: 1000px;
  background-color: #263238;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
  height: 28px;
  margin: 3px 7px;
  padding: 6px;
}

button.cancel {
  margin-right: 55px;
}

button.large-btn {
  border-radius: 5px;
  font-size: 16px;
  height: 35px;
}

ul.users-list-container {
  list-style: none;
  border-radius: 5px;
  background-color: #534bae;
  padding: 30px;
}
